<html>

<head>

	<link rel="stylesheet" type="text/css" href="index style 2.css">
	<link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
	<link rel="icon" type="image/PNG" href="backgrounds/Untitled-6.png">


	<title>ABOUT</title>

	
</head>

<body>


	<div class="info">

		<div class="blurredbackground"></div>

		<h1></h1>
		
		<p>This is a web-based application project under supervision of <span class="name">Dr. Amal Professor</span> in <span class="department">Computer and Systems Engineering department.</span></p>
		<ul>
			<font size="6"><li>ziadhesham97@gmail.com</li></font>
			<font size="6"><li>usseif97@gmail.com</li></font>
			<font size="6"><li>AhmedEzeny@gmail.com</li></font>
			<font size="6"><li>-Ahmad AbdAllah email-</li></font>
		</ul>

	</div>


</body>

</html>