<html>

<head>

	<link rel="stylesheet" type="text/css" href="index style.css">
	<link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
	<link rel="icon" type="image/PNG" href="backgrounds/Untitled-6.png">

	<title>Book a Book</title>

	<script type="text/javascript"
	>$(function () {
	  $(document).scroll(function () {
	    var $nav = $(".navbar-fixed-top");
	    $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
	  });
	});
	</script>


</head>

<body>


	
	<div class="description">

		<div class="blurredbackground"></div>

		<p><span class="Reading">Reading</span><span class="firstLine"> books hasn't been easier,<br>
		You don't have an Excuse not to read<br>
		Find now books for your favorite author with ease.</span><br><br><br><br><br><br><br><br>
		<span class="choosing">Choose</span> the way you want to read your favourite books, Either with borrow or buy options<br>
		Or<br>
		You can profit from your old books</p>


	</div>


</body>

</html>